on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  conan_linux:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        pip install -U pip
        pip install pytest
    - name: Install Cosign
      uses: sigstore/cosign-installer@v3.8.0
      with:
        cosign-release: 'v3.0.3'
    - name: Install Conan develop
      run: |
        pip install git+https://github.com/conan-io/conan.git@develop2
    - name: Run tests - Conan develop / Python 3.8
      run: |
        pytest -v tests
